circle.background {
        stroke: #CCC;
        fill: #FFF;
        stroke-width: 1;
    }
    
    .axis path {
        fill: none;
        stroke: #CCC;
        stroke-width: 1;
    }
    
    .axisScale text {
        display: none;
    }
    
    .radar path {
        stroke-width: 1;
        fill-opacity: 0.6;
    }
    
    .radar0 {
        stroke: #F33;
        fill: #F33;
    }
    
    .radar1 {
        stroke: #33F;
        fill: #33F;
    }
    
    .axisLabel {
        font: 10px sans-serif;
        text-transform: capitalize;
        fill: red;
        stroke: none;
    }
    
    #container {
        width: 320px;
    }
    
    .axis line {
        stroke:none;
    }